---
import { Container, FeatureCard } from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Start Here</h2>
			<p>
				Must have resources for getting started with Game Development.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/resources/downloads" title="Downloads" imgSrc="/assets/images/home/screenshots/DELETEME32">
				</FeatureCard>
				<FeatureCard href="/resources/quickstart" title="Quickstart" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
				<FeatureCard href="/resources/unity" title="Unity Curriculum" imgSrc="/assets/images/home/unity-code">
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout> 

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
