---
import {Icon} from 'astro-icon';
import { Button, Container, TextCardSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'Sign up',
	description: 'Sign up to join game development club.',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Sign Up</h1>
			<div class="cta-buttons__container">
        <Button
        href="https://forms.gle/GLovohb6jEiMeKxx9"
        outlined
        newTab
        customIcon
        >
        Sign Up Sheet
        <Fragment slot="icon">
          <Icon name="ic:baseline-launch" />
        </Fragment>
      </Button>
        <Button
					href="/theme/theme-setup"
          customIcon
					>
          When Our Next Meeting Is
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
				</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
    margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
