---
import { SkipLink , TextCardSection } from '@littlesticks/odyssey-theme-components';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
	</head>
	<body>
		<SkipLink />
		<slot name="announcement-bar" />
		<slot name="header" />
		<TextCardSection>
			<h1>WELCOME BACK JADON!!</h1>
			<p>
				We missed him
			</p>
			<img src="/Untitled.jpg" alt="Girl in a jacket" width="900" height="700">
		</TextCardSection>
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
