html,
body {
	height: 100%;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}

.canvas-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
  }