---
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Downloads | Game Development Resources | Game Dev Club',
	description: 'All of the major applications necessary to make games.',
};
---

<Layout seo={seo}>
    <Container>
        <div style="text-align:center;">
        <iframe src="https://calendar.google.com/calendar/embed?src=fa007abce121baca615b88e1ebcbe9cf223ab43ef234aa43b697c8eacc54ebfd%40group.calendar.google.com&ctz=America%2FChicago" style="border-radius: 10; border-width: 5px; border-color: rgb(203,96,21); padding-bottom: 10px; padding-top: 10px;" width="800" height="600" frameborder="0" scrolling="no" class="calendar"></iframe>
        </div>
    </Container>
</Layout>
