---
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Downloads | Game Development Resources | Game Dev Club',
	description: 'All of the major applications necessary to make games.',
};
---

<Layout seo={seo}>
    <Container>
        <h1>Downloads</h1>
        <p>Here are all of the major applications necessary to make games.</p>
        <h2>Unity</h2>
        <p>Unity is a game engine that allows you to make games for desktop, mobile, and web.</p>
        <p><a href="https://unity3d.com/get-unity/download">Download Unity</a></p>
        <h2>Visual Studio Code</h2>
        <p>Visual Studio Code is a code editor that is free and open source.</p>
        <p><a href="https://code.visualstudio.com/download">Download Visual Studio Code</a></p>
        <h2>Git</h2>
        <p>Git is a version control system that allows you to track changes to your code.</p>
        <p><a href="https://git-scm.com/downloads">Download Git</a></p>
        <h2>GitHub Desktop</h2>
        <p>GitHub Desktop is a graphical user interface for Git.</p>
        <p><a href="https://desktop.github.com/">Download GitHub Desktop</a></p>
        <h2>Blender</h2>
        <p>Blender is a free and open source 3D creation suite.</p>
        <p><a href="https://www.blender.org/download/">Download Blender</a></p>
        <h2>Paint.NET</h2>
        <p>Paint.NET is a free and open source image and photo editing software.</p>
        <p><a href="https://www.getpaint.net/download.html">Download Paint.NET</a></p>
        <h2>Adobe Photoshop</h2>
        <p>Adobe Photoshop is a professional image and photo editing software.</p>
        <p><a href="https://www.adobe.com/products/photoshop.html">Download Adobe Photoshop</a></p>
        <h2>Adobe Illustrator</h2>
        <p>Adobe Illustrator is a professional vector graphics editor.</p>
        <p><a href="https://www.adobe.com/products/illustrator.html">Download Adobe Illustrator</a></p>
        <h2>Adobe After Effects</h2>
        <p>Adobe After Effects is a professional motion graphics and visual effects software.</p>
        <p><a href="https://www.adobe.com/products/aftereffects.html">Download Adobe After Effects</a></p>
    </Container>
</Layout>

<!-- write a style sheet for the above page. -->
<style>
    
</style>