---
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Downloads | Game Development Resources | Game Dev Club',
	description: 'All of the major applications necessary to make games.',
};
---

<Layout seo={seo}>
    <h1>Game Dev Quickstart</h1>
	<p>In order to free up meeting time for project and competition oriented activities, we <b>highly encourage</b> you to go through our quickstart guide. Additionally, see our <a>recommended timeline</a> and our <a>calendar</a> for information on current meeting activities.</p>
</Layout>