---
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Downloads | Game Development Resources | Game Dev Club',
	description: 'All of the major applications necessary to make games.',
};
---

<Layout seo={seo}>
	<Container>
		<h1>Game Dev Quickstart</h1>
		<p>In order to free up meeting time for project and competition oriented activities, we <b>highly encourage</b> you to go through our quickstart guide. Additionally, see our <a>recommended timeline</a> and our <a>calendar</a> for information on current meeting activities. Furthermore, if you would like to check out our first few meeting lessons, check our <a>lessons</a> page.</p>
		<hr />
		<h2>Programming prerequisits (C#)</h2>
		<p>The game engine we use (more on what a game engine is later) allows for you to write scripts (code) for your game. Our game engine in particular uses C#.
		<br />
		The bad news is that you'll have to be comfortable with the language to get started. The good news is that it's a relatively simple language to learn, and once you have the basics down you'll learn more as you go.
		<br />
		Additionally, C# bears a close relationship to Java, so if you've taken a Java class before you'll be able to pick it up quickly.
		<br />
		<br />
		To get started with C#, we recommend the following resources:
		- <a href="https://www.codecademy.com/learn/learn-c-sharp">Codecademy C# tutorial.</a>
		- <a href="https://www.tutorialspoint.com/csharp/index.htm">Tutorialspoint C# tutorial.</a>
		- <a href="https://www.w3schools.com/cs/">W3Schools C# tutorial.</a>
		These are all great free resources to get you started. If you already know some java, w3 schools might be a good starting point for C# as it is easy to skip around.
		<br />
		Our word of advice: it's not as hard as it looks!
<<<<<<< HEAD
	</p>
	<h2>The Game Engine</h2>
	<p>Now here's where it gets fun. We use <a href="https://unity.com/download">Unity</a> as our game engine. There are many game engines out there, but Unity is a great one for beginners due to it's ease of use, but still provides lots of room for growth.
=======
		</p>
		<h2>The Game Engine</h2>
		<p>Now here's where it gets fun. We use <a href="https://unity.com">Unity</a> as our game engine. There are many game engines out there, but Unity is a great one for beginners due to it's ease of use, but still provides lots of room for growth.
>>>>>>> 8b3e240db73040f37090e131f15187a73ae5b2d8
		<br />
		<i>But what is a game engine anyways?</i>
		<br />
		<p>A game engine is a software that allows you to visually combine 3d models, physics systems, custom code, sound effects, and more into a fully fledged game!</p>
		</p>
		<h3>Learning Unity</h3>
		<br />
		<p>To start learning Unity, we recommend Unity's own tutorial cirriculum. Since there's a lot there, we've compiled a recommended order to learn as efficiently as possible. Our advice as you go through these tutorials is to keep in mind that some time in the future you will need to be able to perform the actions your learning how do from memory, so make sure yuo <b>have it down</b>.</p>
		<br />
		<p>Since there is so much self-study cirriculum associated with Unity, we have made a <a>whole page</a> for it.</p>
		<h2>Additional Resources</h2>
		<br />
		<p>If you've completed the above steps - wholly or partially -, then congratulations, because you now know enough to make basic games and learn as you do so! You also know enough to win some competitions in the club!</p>
		<p>Of course, there's always room for improvement, and accordingly so we have some enrichment resources below:</p>
		<br />
		<h4>Enrichment Resources: </h4>
	</Container>
</Layout>

