---
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Downloads | Game Development Resources | Game Dev Club',
	description: 'All of the major applications necessary to make games.',
};
---

<Layout seo={seo}>
    <h1>Game Dev Quickstart</h1>

	<div class="spacer"><p>this page is under construction...</p></div>
</Layout>

<style>
	.spacer{
		height = 1000px;
	}
</style>