---
import Layout from '../../layouts/Page.astro';
import { Container } from '@littlesticks/odyssey-theme-components';

const seo = {
	title: 'Learn Unity | Game Development Resources | Game Dev Club',
	description: 'A compiled list of unity resources.',
};
---

<Layout seo={seo}>
    <h1>Unity 101</h1>
    
</Layout>