---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Westwood Game Development Club</h1>
			<p>
				Our mission at the Game Development Club is to empower and inspire students to explore their creativity and passion for game development. We strive to create an inclusive and collaborative environment where members can learn from each other, push their boundaries, and turn their game development dreams into reality. We believe that everyone has the potential to create something truly remarkable and through our club, we aim to give students the tools, resources, and support to make that happen. 
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>Welcome to the Game Development Club at Westwood High School!</p>

    <p>We are a group of students who are passionate about creating and designing video games. Our goal is to provide an environment where students can come together to learn, create, and share their love of game development. </p>

    <p>Throughout the year, we hold workshops and events to help members improve their skills and gain knowledge in various areas of game development, including programming, art, music, and design. We also work on projects together, which provides a great opportunity for members to learn from each other and collaborate on creative endeavors. </p>

    <p>We welcome all students, regardless of skill level or experience, to join our club. Whether you're a beginner looking to learn the basics of game development, or an experienced game developer with a portfolio of projects, there's a place for you in our club. We also welcome students from any grade level to join us. </p>

    <p>Our meetings times can be found <a href="/club/calendar">here</a> and take place in room E1307.</p>

    <p>If you're interested in joining our club or have any questions, please feel free to reach out to one of our <a href="/club/contact">club leaders</a> </p>

    <p>Thank you for your interest in our club and we hope to see you soon!</p>
  </TextSection>
</Layout>
